.cart_btn1 {
    font-size: 15px;
    padding-right: 10px;
    padding: 10px 50px;
    text-align: center;
}
.cart_btn1:hover {
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
}
.cart_btn2:hover {
    background-color: #fff;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}
.cart_btn2 {
    font-size: 15px;
    padding: 10px 50px;
    text-align: center;
}
.bg {
    background: rgb(232, 225, 255);
    padding: 2px 0px;
    border-radius: 15px;
    padding-bottom: 6px !important;
}
.ri-whatsapp-line {
    vertical-align: middle;
}
.cart_Title {
    font-size: 13.5px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    color: #4e555e;
}
.cart_price {
    font-size: 12px;
    color: rgb(79, 50, 103);
    font-weight: bold;
}

.cart_del_price {
    font-size: 12px;
    padding-left: 5px;
    color: #aca6af;
}
.cart_save_price {
    color: #eb4f5c;
    font-size: 12px;
    padding-left: 5px;
}
.cart_quantity {
    font-size: 12px;
    font-weight: bold;
    color: #4f3267;
}
.cart_delivery {
    color: #8867fb;
    font-size: 12px;
}
.cart_img {
    border: 1px solid rgb(222, 214, 251);
    border-radius: 10px;
    width: 100% !important;
}
.cart_product {
    width: 100%;
    border-radius: 12px;
    background: rgb(249, 249, 250);
    padding: 16px 0px !important;
    margin: auto !important;
    display: block !important;
}
.ri-discount-percent-line {
    color: rgb(222, 87, 229);
    vertical-align: middle;
}
.cart_Coupon h6 span {
    font-size: 14px;
    font-weight: 600;
}
.cart_Coupon {
    background: rgb(232, 225, 255);
    box-shadow: rgba(178, 178, 202, 0.5) 2px 2px 6px;
    border-radius: 12px;
    width: 100%;
    text-align: left;
    padding: 15px 14px;
    padding-bottom: 8px !important;
    line-height: 48px;
    cursor: pointer;
    font-family: InterBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: rgb(79, 50, 103);
    margin-bottom: 24px;
}
.arrow {
    position: relative;
    display: inline-block;
    margin: 0px 0px;
    float: right;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-shadow: rgb(185, 178, 209) 2px 2px 4px, rgb(241, 237, 255) -3px -3px 6px;
    align-items: center;
    display: flex;
}
.coupon_input {
    background-color: rgb(246, 243, 249);
    padding: 10px 10px;
    border-radius: 10px;
}
.coupon_input input {
    background-color: transparent;
    font-size: 13px;
}
.coupon_input span {
    background-color: transparent;
    font-size: 13px;
    color: #de57e5;
}
.coupon_modal {
    background: rgb(246, 243, 249);
    border-radius: 24px 24px 0px 0px;
    padding: 0px 5px;
    overflow: hidden;
}
.coupon_modal h6 {
    font-size: 13px;
    color: rgb(78, 85, 94);
}
.coupan_box {
    min-height: 110px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(206, 194, 205, 0.5) 0px 0px 5px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    position: relative;
    margin-bottom: 24px;
}
.coupan_box::before {
    content: "";
    z-index: 1;
    position: absolute;
    background: rgb(246, 243, 249);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    top: 50%;
    transform: translate(-50%, -50%);
}
.coupan_box::after {
    content: "";
    position: absolute;
    background: rgb(246, 243, 249);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    top: 50%;
    right: 0px;
    transform: translate(50%, -50%);
}
.coupan_box h5 {
    font-size: 15px;
}
.coupon_box1 h6 {
    font-size: 12px;
    padding: 10px 10px;
    padding-bottom: 0px !important;
    font-weight: bold;
}
.coupon_box1 p {
    font-size: 9.5px;
    padding: 0px 10px;
    color: #4e555e;
}
.coupon_box1_p {
    font-size: 10px !important;
}
.offer-label {
    background-color: #afaeb0;
    border-radius: 20px 0px 0px 20px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.ri-focus-3-line {
    vertical-align: middle;
}
.pincode {
    position: relative;
    display: inline-block;
    margin: 0px 0px;
    float: right;
    border-radius: 50%;
    display: flex;
    color: #de57e5;
    font-size: 12px !important;
    padding-top: 8px;
}
.pincode_modal h5 {
    font-size: 18px;
    font-weight: bold;
}
.pincode_modal p {
    font-size: 13px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}
.cart_Pincode {
    background: rgb(246, 243, 249);
    box-shadow: rgba(178, 178, 202, 0.5) 2px 2px 6px;
    border-radius: 12px;
    width: 100%;
    text-align: left;
    padding: 15px 14px;
    padding-bottom: 8px !important;
    line-height: 48px;
    cursor: pointer;
    font-family: InterBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: rgb(79, 50, 103);
    margin-bottom: 24px;
}
.cart_Pincode h6 span {
    font-size: 14px;
    font-weight: 600;
}
.pincode_search {
    position: relative;
    border: 1px solid rgb(136, 99, 251);
    max-width: 244px;
    height: 46px;
    background: rgb(243, 243, 243);
    border-radius: 12px;
    flex: 1 1 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px auto;
}
.input_location {
    text-align: left;
    padding: 0.3rem 1rem 0.3rem 3.8rem;
    margin: 0px;
    line-height: 34px;
    height: inherit;
    border: none;
    border-radius: 4px;
    cursor: text;
    outline: none;
    width: 244px;
    font-size: 10px;
    font-family: InterSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(79, 50, 103) !important;
}
.arrow_pincode {
    width: 34px;
    height: 34px;
    position: absolute;
    right: 5px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    color: #fff;
    background-color: #e1dfe2;
    border-radius: 50%;
    align-items: center;
    display: flex;
    padding-left: 9px;
}
.pincode_label {
    font-size: 0rem;
}
.current_pincode {
    font-size: 10px !important;
    color: #de57e5;
}
.text_end {
    font-size: 10px;
    float: right !important;
}
.title_amount {
    line-height: 22px;
    margin-bottom: 2px;
    font-size: 12px;
    color: rgb(79, 50, 103) !important;
    font-weight: 600;
}
.cart_amount {
    background: rgb(246, 243, 249);
    box-shadow: rgba(178, 178, 202, 0.5) 2px 2px 6px;
    border-radius: 12px;
    width: 100%;
    text-align: left;
    padding: 15px 0px;
    padding-bottom: 8px !important;
    line-height: 48px;
    cursor: pointer;
    font-family: InterBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: rgb(79, 50, 103);
    margin-bottom: 24px;
}
.text_price {
    color: #4f3267;
    font-weight: bold;
    font-size: 12px;
}
.text_coupon {
    font-size: 12px;
    font-weight: bold;
    color: #6ec840;
}
.text_free {
    font-size: 12px;
    font-weight: bold;
    color: #8863fb;
}
.place_order_btn {
    background: linear-gradient(90deg, rgb(229, 110, 235) 0%, rgb(136, 99, 251) 100%) !important;
}
.cart_headline {
    width: 100%;
    height: 48px;
    background: linear-gradient(270deg, rgb(254, 230, 227) 0%, rgb(255, 248, 216) 100%);
    border-radius: 12px;
    position: relative;
    margin-bottom: 24px;
    overflow: hidden;
}
.headline_title {
    font-size: 12px;
}
.total_Amount {
    border-top: 2px solid #fff;
    padding-top: 8px;
    margin-top: 10px;
    color: #4f3267;
}
.total_Amount h6 {
    font-weight: bold;
    font-size: 15px !important;
}
.total_Amount span {
    font-size: 15px;
    font-weight: bold;
    float: right;
}
.cart_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 1s ease;
}
.cart_header.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: rgb(187, 187, 187) 0px 2px 0.5rem;
    background-color: #fff;
    animation: slideDown 0.8s ease-in-out;
}
.cart_header_left {
    display: flex;
    align-items: center;
}
.back-button {
    color: #4a4a4a;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
}
.cart_logo {
    display: flex;
    align-items: center;
}
.cart_logo_icon {
    width: 40% !important;
    color: #a044ff;
}
.cart_header_center {
    display: flex;
    justify-content: center;
    flex: 1;
}
.toggle-buttons {
    display: flex;
    gap: 10px;
}
.toggle-button {
    padding: 8px 16px;
    border: 1px solid #eaeaea;
    border-radius: 20px;
    background-color: #f3e8ff;
    color: #4a4a4a;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease;
}
.toggle-button.active {
    background-color: #d8b8ff;
    color: #4a4a4a;
}
.cart_header_right {
    display: flex;
    align-items: center;
}
.assistance-link {
    display: flex;
    align-items: center;
    color: #4a4a4a;
    text-decoration: none;
    font-size: 14px;
}
.whatsapp-icon {
    font-size: 24px;
    margin-left: 5px;
    color: #25d366;
}
.cart_Sec{
    margin-bottom: 187px;
}
.cart_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9f6ff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.cart_footer_left {
    font-size: 14px;
    color: #4a4a4a;
}
.cart_footer_left p{
    letter-spacing: 1px;
    font-weight: bold;
}
.cart_footer_left strong{
    letter-spacing: 0.5px;
}
.cart_footer_right {
    display: flex;
    gap: 15px;
}
.payment-icon {
    width: 40px;
    height: auto;
}

@media (max-width: 768px) {
    .cart_header {
        padding: 8px 16px;
    }

    .toggle-buttons {
        flex-direction: column;
        gap: 5px;
    }
    .cart_footer {
        flex-direction: column;
        text-align: center;
    }
    
    .cart_footer_right {
        margin-top: 10px;
    }
}
@media(max-width:426px) {
    .cart_headline {
        height: 72px !important;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}